html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-size: 16px;
  font-size: 1.6em;
  line-height: 1.6;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $title-font;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  font-family: $title-font;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  font-family: $title-font;
}
