body {
  margin: 0px;

  &.pushable {
    > .pusher {
      background-image: radial-gradient(ellipse farthest-corner at 80vw 15vh, rgba( 250, 240, 128, 0.5) 5%, rgba( 250,240,128,0) 95%);
      background-color: #00467f;
    }
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $base-font;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  font-family: $base-font;
}
