body {
  margin: 0px;

  &.pushable {
    > .pusher {
      background-color: #000;
    }
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: $base-font;
}

h2 {
  text-transform: uppercase;
  font-weight: 700; 
  font-size: 40px;
  font-family: $base-font;
}

h3 {
  text-transform: uppercase;
  font-weight: 700; 
  font-size: 25px;
  font-family: $base-font;
}
